
@model GurBhugTracker.Models.UserRoleViewModel

@{
    ViewBag.Title = "ChangeRole";
}





<div id="page-wrapper">

    <div class="container-fluid">

       
        <div class="row">
            <div class="col-lg-12">
                <p>
                    User: @Model.Name
                </p>
                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(p => p.Id)
                    @Html.ListBoxFor(p => p.SelectedRoles, Model.Roles)
                    <input type="submit" value="Submit!" />
                }

            </div>
        </div>
      

    </div>
  

</div>



