@model GurBhugTracker.Models.AssinDevlViewModal
@{
    ViewBag.Title = "AssignDevelopers";
}

<h2>AssignDevelopers</h2>

<div id="page-wrapper">
    <div class="container-fluid">

        <h2>AssignUsers</h2>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(p => p.Id)
            @Html.DropDownListFor(p => p.DeveloperId, Model.user, htmlAttributes: new {@class = "form-control" })
            <input type="submit" value="Submit!" />
        }

        <div class="row">
            <div class="col-lg-12">


            </div>
        </div>

    </div>

</div>

